<!-- Temporary section until testimonials are gathered -->
<h2 id="about-us" class="indent-2 text-4xl font-bold">About us</h2>
<p class="text-1xl indent-1 italic text-gray-700">
    EthioAdvance is more than just a tutoring company; it is a mission-driven initiative aimed at transforming education in Ethiopia. 
    By leveraging technology, structured learning, and innovative teaching methods, we seeks to bridge the gap in quality education, 
    making it accessible and engaging for students of all backgrounds. 
    <br><br>
    The company prioritizes personalized learning, real-time progress tracking, and AI-driven tools to enhance student performance. 
    With a commitment to academic excellence, skill development, and future-ready education, we aspires to nurture a generation of critical thinkers, 
    problem solvers, and innovators, ensuring students gain both knowledge and practical skills for lifelong success.
</p>