<div class="mx-auto max-w-3xl">
    <div class="relative aspect-video rounded-2xl bg-gray-900 px-5 py-3 shadow-xl 
                before:pointer-events-none before:absolute before:-inset-5 before:border-y 
                before:[border-image:linear-gradient(to_right,transparent,var(--color-slate-300/.8),transparent)1] 
                after:absolute after:-inset-5 after:-z-10 after:border-x 
                after:[border-image:linear-gradient(to_bottom,transparent,var(--color-slate-300/.8),transparent)1]">
      
      <div class="relative mb-8 flex items-center justify-between 
                  before:block before:h-[9px] before:w-[41px] 
                  before:bg-[length:16px_9px] 
                  before:[background-image:radial-gradient(circle_at_4.5px_4.5px,var(--color-gray-600)_4.5px,transparent_0)] 
                  after:w-[41px]">
        <span class="text-[13px] font-medium text-white">
          www.ethioadvance.com
        </span>
      </div>
  
      <div class="font-mono text-gray-500 [&_span]:opacity-0">
        <span class="animate-[code-1_10s_infinite] text-gray-200">
          ለልጅዎ ስኬት እና ውጤታማነት በትጋት እንሰራለን
        </span> 
        <br />
        
        <span class="animate-[code-2_10s_infinite]">
          ልጆችዎን ከማስጠናት በተጨማሪ ውጤታማ የሚሆኑበትን የጥናት ፕሮግራም ቀርጸን እንሰጣለን
        </span> 
        <br />
        <br />
        
        <span class="animate-[code-3_10s_infinite] text-gray-200">
          ልጆች ውጤታማ እንዲሆኑ እገዛ ያስፈልጋቸዋል
        </span>
        <br />
        
        <span class="animate-[code-4_10s_infinite]">
          በትክክለኛው እገዛ ሁሉም ልጅ ውጤታማ መሆን ይችላል ብለን እናምናለን
        </span>
      </div>
  
    </div>
  </div>
  