<h1
  class="mb-6 border-y text-5xl font-bold [border-image:linear-gradient(to_right,transparent,var(--color-slate-300/0.8),transparent)1] md:text-6xl">
  ልጆችዎ ላይ በመስራት የተሻለ ነገን <br class="max-lg:hidden" />
  አብረን እንገንባ
</h1>

<div class="mx-auto max-w-3xl">
    <p class="mb-8 text-lg text-gray-700">
      Learning made simple, success made inevitable.
      🚀 Because even Wi-Fi needs a strong connection—why not your education?
    </p>
  
    <div class="relative before:absolute before:inset-0 before:border-y before:[border-image:linear-gradient(to_right,transparent,var(--color-slate-300/0.8),transparent)1]">
      <div class="mx-auto max-w-xs sm:flex sm:max-w-none sm:justify-center">
        
        <a class="btn group mb-4 w-full bg-gradient-to-t from-blue-600 to-blue-500 bg-[length:100%_100%] bg-bottom text-white shadow-sm hover:bg-[length:100%_150%] sm:mb-0 sm:w-auto" href="{% url 'parent:register' %}">
          <span class="relative inline-flex items-center">
            Create parent account
            <span class="ml-1 tracking-normal text-blue-300 transition-transform group-hover:translate-x-0.5">
              →
            </span>
          </span>
        </a>
      </div>
    </div>
</div>
