{% extends "forms/base_form.html" %}

{% block title %}Submit Feedback{% endblock %}

{% block header %}
    {% include 'ui/'|add:request.user.role|lower|add:'_header.html' %}
{% endblock %}

{% block form_content %}
    <div class="mb-10">
        <h1 class="text-4xl font-bold">Submit Feedback</h1>
    </div>
    
    <form method="post" enctype="multipart/form-data" action="{% url 'feedbacks:submit' %}">
        {% csrf_token %}
        <div class="mb-6">
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_text">
                Feedback
            </label>
            <textarea id="id_text" rows="5" class="form-input w-full py-2" name="text" 
                        placeholder="Write your feedback here"></textarea>
        </div>

        <div class="mb-6">
            <label class="mb-1 block text-sm font-bold text-gray-700">
                Rating
            </label>
            <div class="flex items-center space-x-1 rating-container">
                {% for i in "12345" %}
                    <label class="cursor-pointer">
                    <input type="radio" name="rating" value="{{ i }}" class="sr-only peer"/>
                    <span class="text-3xl text-gray-300 peer-checked:text-yellow-400 
                                hover:text-yellow-400
                                peer-checked:peer-[:checked~*_&]:text-yellow-400
                                peer-[:checked~*_&]:text-gray-300">
                        ★
                    </span>
                    </label>
                {% endfor %}
                </div>
        </div>

        <div class="mt-6 space-y-3">
            <button class="btn w-full bg-linear-to-t from-blue-600 to-blue-500 bg-[length:100%_100%] bg-[bottom] text-white shadow-sm hover:bg-[length:100%_150%] cursor-pointer">
                Submit
            </button>
        </div>

    </form>
{% endblock %}