{% extends 'child/components/general_info/base.html' %}

{% block parent_or_tutor %}
    <!-- Tutor Info -->
    <div class="mt-4">
        {% if child.tutor %}
            <p class="font-bold text-lg text-gray-700">
                <span class="text-blue-600">Tutor:</span> {{ child.tutor.get_full_name }}
            </p>
        {% else %}
            <p class="text-lg text-gray-500 italic">No Tutor Assigned</p>
        {% endif %}
    </div>
{% endblock %}

 {% block update_profile %}
        <div>
            <a href="{% url 'child:update_profile' child.id %}" class="inline-block bg-blue-600 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-700 transition">
                Update Profile
            </a>
        </div>
{% endblock %}