{% extends "registration/base_registration_form.html" %}

{% block title %}Parent Registration{% endblock %}

{% block action %}
    action="{% url 'parent:register' %}"
{% endblock %}

{% block form_header %}
    Create Your Account
{% endblock %}

{% block profile_form %}
    <div class="bg-gray-200 shadow-md rounded-lg p-5 mb-4 space-y-4">

        <h2 class="text-2xl font-bold">Profile Information</h2>
        <p class="text-sm text-gray-600">The following fields are used to complete your profile and you can always update them.</p>
        <p class="text-sm text-green-500 italic font-bold">All fields are optional.</p>

        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_occupation">
                Occupation
            </label>
            <input id="id_occupation" class="form-input w-full py-2" type="text" name="occupation" placeholder="Add your line of work"/>
        </div>

        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_emergency_contact">
                Emergency Contact
            </label>
            <input id="id_emergency_contact" class="form-input w-full py-2" type="text" name="emergency_contact" placeholder="0945471205"/>
        </div>

        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_address">
                Address
            </label>
            <input id="id_address" class="form-input w-full py-2" type="address" name="address" placeholder="Add an approximated address"/>
        </div>

        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_preferred_communication">
                Preferred Communication
            </label>
            <select id="id_preferred_communication" class="form-select w-full py-2" name="preferred_communication" required>
            <option value="EMAIL">Email</option>
            <option value="PHONE">Phone</option>
            <option value="SMS">SMS</option>
        </select>
        </div>

    </div>
{% endblock %}