{% extends "base.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block header %}
    {% include "ui/company_header.html" %}
{% endblock %}

{% block content %}
    <!-- Hero -->
    <section class="relative">
        {% include "components/hero/stripes.html" %}
    
        <div class="mx-auto max-w-6xl px-4 sm:px-6">
            <div class="pb-12 pt-32 md:pb-20 md:pt-40">
                <div class="pb-12 text-center md:pb-16">
                    <h1 class="mb-6 border-y text-5xl font-bold [border-image:linear-gradient(to_right,transparent,var(--color-slate-300/0.8),transparent)1] md:text-6xl">
                    Welcome {{ company.first_name }}
                    </h1>

                    <div class="mx-auto max-w-3xl">
                        <div class="relative before:absolute before:inset-0 before:border-y before:[border-image:linear-gradient(to_right,transparent,var(--color-slate-300/0.8),transparent)1]">
                        <div class="mx-auto max-w-xs sm:flex sm:max-w-none sm:justify-center">
                            
                            <a class="btn group mb-4 w-full bg-gradient-to-t from-blue-600 to-blue-500 bg-[length:100%_100%] bg-bottom text-white shadow-sm hover:bg-[length:100%_150%] sm:mb-0 sm:w-auto" href="{% url 'tutor:register' %}">
                            <span class="relative inline-flex items-center">
                                Register a tutor
                                <span class="ml-1 tracking-normal text-blue-300 transition-transform group-hover:translate-x-0.5">
                                →
                                </span>
                            </span>
                            </a>
                    
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}