{% extends "ui/header_base.html" %}

{% block desktop_nav %}
  <li><a href="{% url 'child:child_dashboard' child.id %}" class="btn-sm bg-white text-gray-800 shadow-sm hover:bg-blue-500" {% if active_section == "child_dashboard" %}id="selected"{% endif %}>Dashboard</a></li>
  <li><a {% if request.user.role == 'PARENT' %}href="{% url 'parent:child_sessions_dashboard' child.id %}"
    {% elif request.user.role == 'TUTOR' %}href="{% url 'tutor:child_sessions_dashboard' child.id %}"{% endif %} class="btn-sm bg-white text-gray-800 shadow-sm hover:bg-blue-500" {% if active_section == "sessions" %}id="selected"{% endif %}>Sessions</a></li>
  <li><a href="#" class="btn-sm bg-white text-gray-800 shadow-sm hover:bg-blue-500" {% if section == "reports" %}id="selected"{% endif %}>Reports</a></li>
  <li><a href="#" class="btn-sm bg-white text-gray-800 shadow-sm hover:bg-blue-500" {% if section == "profile" %}id="selected"{% endif %}>Profile</a></li>
  <li>
    {% if request.user.role == 'PARENT' %}<a href="{% url 'parent:dashboard'%}" class="btn-sm bg-white text-gray-800 shadow-sm hover:bg-blue-500" {% if active_section == "dashboard" %}id="selected"{% endif %}>Parent Dashboard</a>
    {% elif request.user.role == 'TUTOR' %}<a href="{% url 'tutor:dashboard'%}" class="btn-sm bg-white text-gray-800 shadow-sm hover:bg-blue-500" {% if active_section == "dashboard" %}id="selected"{% endif %}>Tutor Dashboard</a>
    {% endif %}
  </li>
{% endblock %}

{% block mobile_nav %}
  <a href="{% url 'child:child_dashboard' child.id %}" class="w-full block text-center px-4 py-3 text-gray-800 text-lg font-medium hover:bg-blue-100">Dashboard</a>
  <a {% if request.user.role == 'PARENT' %}href="{% url 'parent:child_sessions_dashboard' child.id %}"
  {% elif request.user.role == 'TUTOR' %}href="{% url 'tutor:child_sessions_dashboard' child.id %}"{% endif %} class="w-full block text-center px-4 py-3 text-gray-800 text-lg font-medium hover:bg-blue-100">Sessions</a>
  <a href="#" class="w-full block text-center px-4 py-3 text-gray-800 text-lg font-medium hover:bg-blue-100">Reports</a>
  <a href="#" class="w-full block text-center px-4 py-3 text-gray-800 text-lg font-medium hover:bg-blue-100">Profile</a>
  <li>
    {% if request.user.role == 'PARENT' %}<a href="{% url 'parent:dashboard'%}" class="w-full block text-center px-4 py-3 text-gray-800 text-lg font-medium hover:bg-blue-100" {% if active_section == "dashboard" %}id="selected"{% endif %}>Parent Dashboard</a>
    {% elif request.user.role == 'TUTOR' %}<a href="{% url 'tutor:dashboard'%}" class="w-full block text-center px-4 py-3 text-gray-800 text-lg font-medium hover:bg-blue-100" {% if active_section == "dashboard" %}id="selected"{% endif %}>Tutor Dashboard</a>
    {% endif %}
  </li>
{% endblock %}