{% extends "forms/base_form.html" %}

{% block form_content %}
<div class="mb-10">
    <h1 class="text-4xl font-bold">{% block form_header %}{% endblock %}</h1>
  </div>
  
  <!-- Form -->
  <form method="post" enctype="multipart/form-data" {% block action %}{% endblock %}>
    {% csrf_token %}
    <div class="space-y-4">
        <div class="bg-gray-200 shadow-md rounded-lg p-5 mb-4 space-y-4">
            
            <h2 class="text-2xl font-bold">Account Information</h2>
            <p class="text-sm text-gray-600">Please fill you account information and make sure to give correct information.</p>
            <p class="text-sm text-red-500 italic font-bold">All fields are required*</p>
            
            <div>
                <label class="mb-1 block text-sm font-bold text-gray-700" for="id_first_name">
                    First Name
                </label>
                <input id="id_first_name" class="form-input w-full py-2" type="text" name="first_name" placeholder="Mekbib" required />
            </div>

            <div>
                <label class="mb-1 block text-sm font-bold text-gray-700" for="id_last_name">
                    Last Name
                </label>
                <input id="id_last_name" class="form-input w-full py-2" type="text" name="last_name" placeholder="Abiro" required />
            </div>

            <div>
                <label class="mb-1 block text-sm font-bold text-gray-700" for="id_email">
                    Email
                </label>
                <input id="id_email" class="form-input w-full py-2" type="email" name="email" placeholder="ethioadvance@gmail.com" required />
            </div>

            <div>
                <label class="mb-1 block text-sm font-bold text-gray-700" for="id_phone_number">
                    Phone Number
                </label>
                <input id="id_phone_number" class="form-input w-full py-2" type="text" name="phone_number" placeholder="0945471205" required />
            </div>
        </div>

        {% include "forms/passwords.html" with header="Create Password" %}
        
        {% block profile_form %}
        {% endblock %}
    </div>

    <div class="mt-6 space-y-3">
        <button class="btn w-full bg-linear-to-t from-blue-600 to-blue-500 bg-[length:100%_100%] bg-[bottom] text-white shadow-sm hover:bg-[length:100%_150%] cursor-pointer">
            Register
        </button>
    </div>
</form>
  
  <!-- Bottom link -->
  <div class="mt-6 text-center">
    <p class="text-sm text-gray-500">
      By signing up, you agree to the 
      <a class="whitespace-nowrap font-medium text-gray-700 underline hover:no-underline" href="{% url 'accounts:terms_of_service' %}">
        Terms of Service
      </a> 
      and 
      <a class="whitespace-nowrap font-medium text-gray-700 underline hover:no-underline" href="{% url 'accounts:privacy_policy' %}">
        Privacy Policy
      </a>.
    </p>
  </div>
  
{% endblock %}