{% extends "ui/header_base.html" %}

{% block desktop_nav %}
  <li><a href="{% url 'parent:dashboard' %}" class="btn-sm bg-white text-gray-800 shadow-sm hover:bg-blue-500" {% if active_section == "dashboard" %}id="selected"{% endif %}>Dashboard</a></li>
  <li><a href="{% url 'parent:children_dashboard' %}" class="btn-sm bg-white text-gray-800 shadow-sm hover:bg-blue-500" {% if active_section == "my_children" %}id="selected"{% endif %}>My children</a></li>
  <li><a href="#" class="btn-sm bg-white text-gray-800 shadow-sm hover:bg-blue-500" {% if section == "payment" %}id="selected"{% endif %}>Payment</a></li>
  <li><a href="#" class="btn-sm bg-white text-gray-800 shadow-sm hover:bg-blue-500" {% if section == "profile" %}id="selected"{% endif %}>Profile</a></li>
{% endblock %}

{% block mobile_nav %}
  <a href="{% url 'parent:dashboard' %}" class="w-full block text-center px-4 py-3 text-gray-800 text-lg font-medium hover:bg-blue-100">Dashboard</a>
  <a href="{% url 'parent:children_dashboard' %}" class="w-full block text-center px-4 py-3 text-gray-800 text-lg font-medium hover:bg-blue-100">My children</a>
  <a href="#" class="w-full block text-center px-4 py-3 text-gray-800 text-lg font-medium hover:bg-blue-100">Payment</a>
  <a href="#" class="w-full block text-center px-4 py-3 text-gray-800 text-lg font-medium hover:bg-blue-100">Profile</a>
{% endblock %}