{% extends 'company/components/user_list.html' %}
{% load user_search %}
{% load humanize %}

{% block title %}Parents{% endblock %}

{% block table_header %}Tutor Directory{% endblock %}

{% block search_bar %}
    {% user_search 'company:tutors' 'company:tutor_search' %}
{% endblock %}

{% block table %}
<div class="overflow-x-auto text-left">
    <div class="inline-block min-w-full align-middle bg-white rounded-2xl shadow-lg overflow-hidden transform transition-all duration-300 hover:shadow-xl">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">
                        <input type="checkbox" id="select-all" class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">#</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">Full Name</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">Email</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">Phone</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">Students</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">Sessions</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">Earned</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">Requested</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">Avaliable</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">Reports</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider align-bottom">Feedbacks</th>    
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for tutor in tutors %}
                <tr 
                    data-href="#"
                    class="clickable-row {% if tutor.total_requested > 0 %}bg-red-50/50{% else %}bg-green-50/50{% endif %} hover:scale-[1.01] hover:bg-blue-50 transition-all duration-200 ease-out group cursor-pointer">
                    
                    <td class="px-6 py-4 whitespace-nowrap">
                        <input type="checkbox" name="tutor" value="{{ tutir.id }}" 
                            class="user-checkbox h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
                    </td>
                    
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="flex items-center h-full">
                            <span class="flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 text-blue-800 font-medium group-hover:bg-blue-200 transition-colors">
                                {{ forloop.counter }}
                            </span>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="text-sm font-medium text-gray-900 group-hover:text-blue-600 transition-colors">
                            {{ tutor.get_full_name }}
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="text-sm text-gray-500 group-hover:text-blue-500 transition-colors">
                            {{ tutor.email }}
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="text-sm text-gray-500 group-hover:text-blue-500 transition-colors">
                            {{ tutor.phone_number|default:"-" }}
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="text-sm text-gray-500 group-hover:text-blue-500 transition-colors">
                            {{ tutor.total_students }}
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="text-sm text-gray-500 group-hover:text-blue-500 transition-colors">
                            {{ tutor.total_sessions }}
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="text-sm font-medium text-green-600 group-hover:text-green-700 transition-colors">
                            ${{ tutor.total_paid|intcomma }}
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="text-sm font-medium {% if parent.total_requested > 0 %}text-red-600 group-hover:text-red-700{% else %}text-gray-500 group-hover:text-blue-500{% endif %} transition-colors">
                            ${{ tutor.total_requested|intcomma }}
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="text-sm font-medium {% if parent.total_due > 0 %}text-yellow-600 group-hover:text-red-700{% else %}text-gray-500 group-hover:text-blue-500{% endif %} transition-colors">
                            ${{ tutor.total_due|intcomma }}
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="text-sm text-gray-500 group-hover:text-blue-500 transition-colors">
                            {{ tutor.total_reports }}
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap align-top">
                        <div class="text-sm text-gray-500 group-hover:text-blue-500 transition-colors">
                            {{ tutor.total_feedbacks }}
                        </div>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="12" class="text-center py-8">
                            <div class="flex flex-col items-center justify-center space-y-4">
                                <h3 class="text-lg font-medium text-gray-500">
                                    {% if is_search %}
                                    No tutors found matching "{{ search_query }}"
                                    {% else %}
                                    No tutors registred yet
                                    {% endif %}
                                </h3>
                                {% if is_search %}
                                <a href="{% url 'company:tutors' %}" class="text-blue-600 hover:underline">View all tutors</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}