{% extends "forms/base_form.html" %}

{% block form_content %}
    <div class="mb-10">
        <h1 class="text-4xl font-bold">Sign in to your account</h1>
    </div>

    <form method="post" action="{% url 'accounts:login' %}" class="space-y-6">
    {% csrf_token %}

        <div class="space-y-4">
            <div>
            <label class="mb-1 block text-sm font-medium text-gray-700" for="id_username">
                Email
            </label>
            <input 
                id="id_username" 
                name="username"
                class="form-input w-full py-2" 
                type="text"
                placeholder="ethioadvance@email.com"
                required
            />
            </div>
            <div>
            <label class="mb-1 block text-sm font-medium text-gray-700" for="id_password">
                Password
            </label>
            <input 
                id="id_password" 
                name="password"
                class="form-input w-full py-2" 
                type="password" 
                autocomplete="on"
                placeholder="••••••••"
                required
            />
            </div>
        </div>



        <div class="mt-6">
            <button class="btn w-full bg-linear-to-t from-blue-600 to-blue-500 bg-[length:100%_100%] bg-[bottom] text-white shadow-sm hover:bg-[length:100%_150%]" type="submit">
            Sign In
            </button>
        </div>
    </form>

    <div class="my-6 text-left">
        <a 
            class="text-md font-bold text-gray-700 hover:text-blue-500" 
            href="#">
            Forgot password
        </a>
    </div>
{% endblock %}


{% block cta %}
    <section>
        <div class="mx-auto max-w-6xl px-4 sm:px-6">
            <div class="relative overflow-hidden rounded-2xl text-center shadow-xl before:pointer-events-none before:absolute before:inset-0 before:-z-10 before:rounded-2xl before:bg-gray-900">
                {% include "components/cta/cta.html" with text="Don't have an account?" %}
            </div>
        </div>
    </section>
{% endblock %}