{% extends "forms/base_form.html" %}

{% block form_content %}
    <div class="mb-10">
        <h1 class="text-4xl font-bold">Enter Your Email Address</h1>
    </div>

    <form method="post" action="{% url 'accounts:reset_password' %}" class="space-y-6">
    {% csrf_token %}

        <div class="space-y-4">
            <div>
            <p class="text-green-500 italic text-sm mb-4">Enter your email address so that we can help you reset the password</p>
            <label class="mb-1 block text-sm font-medium text-gray-700" for="id_email">
                Email
            </label>
            <input 
                id="id_email" 
                name="email"
                class="form-input w-full py-2" 
                type="email" 
                autocomplete="on"
                placeholder="ethioadvance@gmail.com"
                required
            />
            </div>
        </div>



        <div class="mt-6">
            <button class="btn w-full bg-linear-to-t from-blue-600 to-blue-500 bg-[length:100%_100%] bg-[bottom] text-white shadow-sm hover:bg-[length:100%_150%] cursor-pointer" type="submit">
            Submit
            </button>
        </div>
    </form>

    <div class="my-6 text-left">
        <a 
            class="text-md font-bold text-gray-700 hover:text-blue-500"
            href="{% url 'accounts:login' %}">
            Go back to login
        </a>
            
    </div>
{% endblock %}