<div class="bg-gray-200 shadow-md rounded-lg p-5 mb-4 space-y-4">
    <h2 class="text-2xl font-bold"> {{ header }}</h2>
    <p class="text-sm text-gray-700 font-bold italic">Password must be at least 8 characters long.
        <br>Password must contain at least one uppercase letter.
        <br>Password must contain at least one lowercase letter.
        <br>Password must contain at least one number.
        <br>Password must contain at least one special character.</p>
    
    <div>
        <label class="mb-1 block text-sm font-bold text-gray-700" for="id_password1">
            Password
        </label>
        <input id="id_password1" class="form-input w-full py-2" type="password" name="password1" placeholder="••••••••" required />
    </div>

    <div>
        <label class="mb-1 block text-sm font-bold text-gray-700" for="id_password2">
            Confirm Password
        </label>
        <input id="id_password2" class="form-input w-full py-2" type="password" name="password2" placeholder="••••••••" required />
    </div>
</div>