{% extends "forms/base_form.html" %}

{% block title %}Child Registration{% endblock %}

{% block header %}
    {% include 'ui/parent_header.html' %}
{% endblock %}


{% block form_content %}

    <div class="mb-10">
        <h1 class="text-4xl font-bold">Add Child Information</h1>
    </div>

    <form method="post" enctype="multipart/form-data" action="{% url 'child:register' %}">
        {% csrf_token %}
    <div class="bg-gray-200 shadow-md rounded-lg p-5 mb-4 space-y-4">

        <h2 class="text-2xl font-bold">Child Information</h2>

        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_first_name">
                First Name
            </label>
            <input id="id_first_name" class="form-input w-full py-2" type="text" name="first_name" placeholder="Mekbib" required />
        </div>

        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_last_name">
                Last Name
            </label>
            <input id="id_last_name" class="form-input w-full py-2" type="text" name="last_name" placeholder="Abiro" required />
        </div>

        <div class="relative max-w-sm">
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_date_of_birth">
                Date of Birth
            </label>

            <div class="absolute inset-y-2 start-0 pt-6 pl-5 flex items-center ps-3 pointer-events-none cursor-pointer">
                <svg class="w-3 h-3 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                   <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                 </svg>
            </div>

            <input id="id_date_of_birth" name="date_of_birth" datepicker datepicker-autohide type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Add the child's birth date">
        </div>

        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_gender">
                Gender
            </label>
            <select id="id_gender" class="form-select w-full py-2" name="gender" required>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
          </select>
        </div>

    
    </div>
    
    <div class="bg-gray-200 shadow-md rounded-lg p-5 mb-4 space-y-4">
        <h2 class="text-2xl font-bold">Class Information</h2>
        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_school">
                School
            </label>
            <input id="id_school" class="form-input w-full py-2" type="text" name="school" placeholder="Add the school where your child learns" required/>
        </div>

        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_grade_level">
                Grade
            </label>
            <input id="id_grade_level" class="form-input w-full py-2" type="number" name="grade_level" placeholder="2" required/>
        </div>
    </div>

    <div class="bg-gray-200 shadow-md rounded-lg p-5 mb-4 space-y-4">

        <h2 class="text-2xl font-bold">Additional Information</h2>
        <p class="text-sm text-gray-600">The following fields are used to know additional child information</p>
        <p class="text-sm text-green-500 font-bold italic">Both fields are optional</p>

        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_special_needs">
                Special Needs
            </label>
            <textarea id="id_special_needs" rows="5" class="form-input w-full py-2" name="special_needs" placeholder="Add some note if you believe your child have specail needs"></textarea>
        </div>

        <div>
            <label class="mb-1 block text-sm font-bold text-gray-700" for="id_academic_interests">
                Bio
            </label>
            <textarea id="id_academic_interests" rows="5" class="form-input w-full py-2" name="academic_interests" placeholder="Add a note if your child has specific academic interests"></textarea>
        </div>

    </div>

    <div class="mt-6 space-y-3">
        <button class="btn w-full bg-linear-to-t from-blue-600 to-blue-500 bg-[length:100%_100%] bg-[bottom] text-white shadow-sm hover:bg-[length:100%_150%] cursor-pointer">
            Register
        </button>
    </div>

    </form>
{% endblock %}